.addimage{
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px 20px 10px 10px;
  }


  
.addimage-texts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .addImage-header{
    color: rgb(32,33,36);
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
  }
  
  .addImage-subtext{
    color: rgb(60,64,67);
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.5rem;
    font-size: 0.85rem;
    letter-spacing: .00625em;
    font-weight: 400;
    text-align: center;
  }



.table-header{
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}

.table-data-rows{
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}




table {
  width: 100%;
  font-weight: 300;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #8e8e8e;
  table-layout: fixed;
  /* background-color: lightgrey; */
}

.icon-container {
  border: none;
  background: none;
}

.trash-icon:hover {
  background: lightgrey;
}



th:first-child, td:first-child {
  text-align: left;
}

th:last-child, td:last-child {
  text-align: right;
}

table > tbody > tr > td {
  text-align: center;
  padding: 3px;
  line-height: 30px;
  
}








  @media (max-width: 474px) {
    table {
        width: 100%;
        font-size: .8rem;
        overflow-x: auto;
        display: block;
    }


    th, td {
        /* display: block; */
        /* border: 1px solid rgba(34,36,38,.15); */
        padding: 0px 10px;
      }
      
      
      
      .icon-container {
        display: flex;
        align-items: center;
        background: none;
      }





      .trash-icon{
        width: 16px;
        height: 16px;
        padding-left: 5px;
        
      }

      td:last-child {
        text-align: right;
      }
      
      
      


     tr {
      margin: 0px;
     }


      table > tbody > tr > td {
        text-align: center;
        padding: 10px;
        line-height: 0px;
        
      }


      tbody > tr {
        padding: 10px;
        
      }


      .addimage {
        width: 80%;
      }



      td:first-child, th:first-child ,td:last-child, th:last-child{
        position: sticky;
        left: 0;
        background-color: white;
        /* z-index: 1; */
        padding: 0px;
    }

    
  }


