header {
  display: flex;
  flex-direction: column;
  font-size: 1.175rem;
  font-weight: 600;
  align-items: center;
  margin-left: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 25px 20px;
  width: 100%;
  box-sizing: border-box;
}


.header-master{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  
}



.header-master-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.desktopview-master-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.home-logo {
  text-decoration: none;
  color: black;
  width: 180px;
  height: 15px;
  margin: 0px;
  padding: 0px;
  background: white;
  /* border: 1px solid red; */
}

.header-searchbar{
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}


.searchbar-input{
  border: none;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding-left: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.searchbar-input::placeholder {
  padding-left: 20px;
}


.header-right-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}






/* .header-button{
  margin-left: 12px;
  margin-right: 16px;
  background-color: rgb(26,115,232);
  width: 101.45px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  border: none;
  transition: all 250ms;
} */

/* 
.profilepic-img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
} */



/* .header-button:hover,
.header-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  opacity: 2.5;
} */

/* 

.header-button:hover {
  transform: translateY(-1px);
} */

.header-searchbar > img {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}


/********************** Mobile View **********************/

.mobileview-master-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.mobileview-first-row{
  display: none;
}


/********************** Toggled View **********************/

.toggledInput{
  width: 100%;
  
}


.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.6); */
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}


.contents-container{
  display: flex;
  background: transparent;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  left: 50%;
  top: -110%;
  /* height: 700px; */
  width: 100%;
  padding: 5px;
  gap: 20px;



}




.contents-top-row{
  display: flex;
  align-items: center;
  
}


.contents-top-row > img{
  
}

.contents-top-row > p{
  flex: 1;
  text-align: center;
  
  padding-right: 20px;
}


.test{
  display: flex;
  flex-direction: column;
}


.test > input {
  border: none;
  background-color: #F2F2F2;
  border-radius: 3px;
  margin: 2px 0px;
  padding: 10px 0px 10px 20px;
}


.exit-btn {
  margin: 5px 10px;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
}


.header-widget{
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px 20px 20px 20px;
  width: 95%;
  margin: 0 auto;
  /* margin: 35px 0px; */
  box-sizing: border-box;
}


.header-widget > h4 {
  padding: 0px;
  margin: 20px 0px;
}


.show-modal, .backdrop {
    opacity: 1;
    pointer-events: all;
}













/********************** Media Queries **********************/


@media (max-width: 850px) {
  header {
    padding: 20px 0px;
  }
  
  
  
  .header-master-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }


  .desktopview-master-container{
    display: none;
  }
  
  .mobileview-first-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  


  .header-searchbar > img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 18px;
  }

  .searchbar-input{
    border-radius: 20px;
    width: 95%;
    margin: 0 auto;
    height: 35px;
    padding-left: 50px;
  }

  
}


@media (min-width: 851px) {
  .mobileview-master-container {
    display: none;
  }
}