
.homepage-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    height: 100%;
    /* padding: 0px 20px; */
  }
  
  .homepage-grid-title-container{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 12;
  }
  
  .homepage-grid-banner {
    grid-column: 2 / 12;
  }
  
  
  
  
  .homepage-grid-1,
  .homepage-grid-2,
  .homepage-grid-3,
  .homepage-grid-4 {
    grid-column: 2 / 12;
  }
  



  .welcoming-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(32,33,36);
    line-height: 1.75rem;
  }
  
  .sub-welcoming-text {
    color: rgb(128,134,139);
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .0142857143em;
    font-weight: 400;
  }


  @media (max-width: 1200px) {

    .homepage-grid-title-container,
    .homepage-grid-banner,
    .homepage-grid-1,
    .homepage-grid-2,
    .homepage-grid-3,
    .homepage-grid-4 {
      grid-column: 1 / -1;
      padding: 0px 20px;
    }
  }