.profile-page-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.welcome-text{
    grid-column: 2 / 12;    
}
.widget {
    grid-column: 2 / 12;
}

.profile-master-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}   


.info-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0px; */
    border-bottom: 1px solid lightgrey;    
}





.profile-master-container > :last-child {
    /* border-bottom:none; */
}


@media (max-width: 600px) {
    .profile-master-container{
        
        gap: 25px;
    }   
    
}
