html, body {
  background-color: light;
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/******************************* 
  global
********************************/
textarea:focus, input:focus{
  outline: none;
}

.widget{
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px;
}



p {
  font-weight: 500;
  font-size: 0.85rem;
  font-family: sans-serif;
  color: #8e8e8e;
}


.component-title-container{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 10px 0px;
}

.component-title {
  font-size: 1rem;
  font-weight: 600;
}

.component-subtitle {
  font-size: 0.9rem;
  color: grey;
  padding-bottom: 5px;

}

.component-container {
  margin: 50px 0px;
  padding: 0 20px;

}





.welcoming-text-container{
  display: block;
  margin: 20px 20px -35px 20px;
}

.welcoming-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.small-icon {
  height: 15%;
  width: 15%;
  padding-right: 10%;
}

.small-icon-with-title {
 display: flex;
 flex-direction: row; 
 align-items: center;
 margin-bottom: 1rem;
}



.macro-counter {
  font-size: 1.3rem;
  font-weight: 600
}



/******************************* 
  MacrosCard Component
********************************/

.macros-card-container {
  height: 150px;
  
}


/******************************* 
  global - columns
********************************/

.multi-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;   
  height: 200px;
}

.three-columns, .four-columns {
  flex: 1;
  margin: 0 10px;
  box-sizing: border-box;
}

.three-columns:first-child, .three-columns:last-child,
.four-columns:first-child, .four-columns:last-child {
  margin: 0px;
}


.data-two-column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/******************************* 
  nav / header
********************************/

header {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.175rem;
  font-weight: 600;
  height: 3rem;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

header .navlinks {
  padding: 0 10px;
}

.home-logo {
  text-decoration: none;
  color: black;
  font-size: 1.65rem;
  padding: 10px;
}


nav > a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

nav > a:hover {
  text-decoration: underline;
  color: grey;
}


/******************************* 
  food inputs
********************************/

.food-input-container {
  /* padding: 20px; */
}

.food-input-starter {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

.food-input-details-container {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}

.food-input-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px 0px;
  padding-left: 10px;
}

.food-input-details > input {
  width: 100%;
  z-index: 1;
  background: transparent;
  height: 50%;
  direction: rtl;
  border: none;
  text-decoration: none;
}

.food-input-details > p {
  position: absolute;
  height: 50%;
}

.submitBtn {
  width: 20%;
  margin-left: 80%;
  border-radius: 4px;
  border-color: transparent !important;
  background-color: #F0F0F0;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 4px 0px;
}


.tdee-inputs{
  border: none;
  border-bottom: 1px solid grey;
}


.food-input-details-category {
  display: inline-block;
  font-size: .875rem;
  font-weight: 900;
  background-color: #F0F0F0;
  width: 100%;
}


.food-input-details-subcontainer {
  margin: 5px 0px;
  width: 100%;
}




/******************************* 
  footer
********************************/

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
  font-size: 0.9rem;
}


/******************************* 
  Food Table
********************************/

table {
  width: 100%;
  font-weight: 300;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #8e8e8e;
  /* background-color: lightgrey; */
}


thead {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

th:first-child, td:first-child {
  text-align: left;
}

th:last-child, td:last-child {
  text-align: right;
}

table > tbody > tr > td {
  text-align: center;
  padding: 3px;
  line-height: 30px;
}

/******************************* 
  General Site Design
********************************/

.site-wrapper {
  display: flex;
  flex-direction: row;
  /* background-color: green; */
}

.vertical-nav-bar {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  margin-left: 20px;
  border-right: 2px solid #edede9;
  margin: 0px;
  padding: 0px;
  /* border: 2px solid green; */
  align-items: left;
  padding-left: 30px;
}


ul{
  /* border: 2px solid red; */
  margin: 0;
  padding: 10px;
}


li {
  list-style-type: none;
  margin: 20px 0px;
  /* border: 2px solid blue; */
}


.components {
  /* background-color: yellow; */
  width: 80%;
  padding: 0px 20px;
  height: 100vh;
}


.vertical-nav-bar-li-title {
  display: inline;
  text-align: left;
  align-items: left;
  padding: 10px;
  color: #8338ec;
  font-weight: 600;
}


.side-bar-links{
  display: flex;
  flex-direction: column;
  margin:20px 0px;
}


.nav-links-and-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.card-1-color {
  background-color: #e9edc9

}

.card-2-color {
  background-color: #fefae0
}

.card-3-color {
  background-color: #d8e2dc
}

.card-4-color {
  background-color: #fae1dd
}