html, body {
  background-color: #F9FAFC;
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/******************************* 
  global
********************************/
textarea:focus, input:focus{
  outline: none;
}

.widget{
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px;
}



p {
  font-weight: 500;
  font-size: 0.85rem;
  font-family: sans-serif;
  color: #8e8e8e;
}



.component-container {
  margin: 50px 0px;
  padding: 0 20px;

}

.component-title-container{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 10px 0px;
}

.component-title {
  font-size: 1rem;
  font-weight: 600;
}

.component-subtitle {
  font-size: 0.9rem;
  color: grey;
  padding-bottom: 5px;

}


.welcoming-text-container{
  display: block;
  margin: 20px 20px 0px 20px;
}

.welcoming-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.small-icon {
  height: 15%;
  width: 15%;
}

.macro-name-with-icon-container {
 display: flex;
 flex-direction: row; 
 align-items: center;
 margin-bottom: 1rem;
 justify-content: space-between;
}






/******************************* 
MacrosCard Component
********************************/


.suggested-consumed-master-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.suggested-consumed-sub-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  align-items: center;
  gap: 10px;
}



.macro-counter {
  font-size: 1.3rem;
  font-weight: 600
}

.macros-card-progressbar-container {
  margin-top: 20px;

}

.linear-progress {
  width: 100%;
  border: 2px solid grey;
  height: 10px;
  border-radius: 20px;
}


.linear-progress::before {

}












/******************************* 
      Header Only
********************************/

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.175rem;
  font-weight: 600;
  height: 5rem;
  align-items: center;
  margin-left: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

header .navlinks {
  padding: 0 10px;
}

nav > a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

nav > a:hover {
  text-decoration: underline;
  color: grey;
}


/******************************* 
  food inputs
********************************/

.food-input-container {
  /* padding: 20px; */
}

.food-input-starter {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

.food-input-details-container {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}

.food-input-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px 0px;
  padding-left: 10px;
}

.food-input-details > input {
  width: 100%;
  z-index: 1;
  background: transparent;
  height: 50%;
  direction: rtl;
  border: none;
  text-decoration: none;
}

.food-input-details > p {
  position: absolute;
  height: 50%;
}

.submitBtn {
  width: 20%;
  margin-left: 80%;
  border-radius: 4px;
  border-color: transparent !important;
  background-color: #F0F0F0;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 4px 0px;
}


.tdee-inputs{
  border: none;
  border-bottom: 1px solid grey;
}


.food-input-details-category {
  display: inline-block;
  font-size: .875rem;
  font-weight: 900;
  background-color: #F0F0F0;
  width: 100%;
}


.food-input-details-subcontainer {
  margin: 5px 0px;
  width: 100%;
}




/******************************* 
  footer
********************************/

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
  font-size: 0.9rem;
}


/******************************* 
  Food Table
********************************/

table {
  width: 100%;
  font-weight: 300;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #8e8e8e;
  /* background-color: lightgrey; */
}


thead {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

th:first-child, td:first-child {
  text-align: left;
}

th:last-child, td:last-child {
  text-align: right;
}

table > tbody > tr > td {
  text-align: center;
  padding: 3px;
  line-height: 30px;
}

/******************************* 
  General Site Design
********************************/

.site-wrapper {
  display: flex;
  flex-direction: row;
  /* background-color: green; */
}


.components {
  background-color: yellow;
  width: 80%;
  padding: 0px 20px;
  height: 100vh;
}





/*******************Layout Grid*******************************/

.site-wrapper-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  
}

.navbar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  border-right: 2px solid #edede9;
  padding: 2.25rem
}


.header {
  grid-column: 2 / -1;
}


.outlet {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 2 / -1;
}


/**********************Homepage Grid****************************/

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  padding: 0 20px
  /* justify-items: center; */
}

.homepage-title {
  grid-column: 1 / -1;
}

.homepage-grid-1 {
  grid-column: 4 / 10;
}

.homepage-grid-2 {
  grid-column: 1 / 7;
}

.homepage-grid-3 {
  grid-column: 7 / 13;
}

.homepage-grid-4 {
  grid-column: 3 / 11;
}

/**********************MacrosCard Grid****************************/

.macros-card-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  height:30rem;
}

.card-1{
  background-color: #EDFFEF;
  grid-column: 1/7;
  color: #7CBF85;
  font-weight: 600;
  
}

.card-2{
  background-color: #F4F2FF;
  grid-column: 7/13;
  color: #756CA3;
  font-weight: 600;
}

.card-3{
  background-color: #ECFBFF;
  grid-column: 1/7;
  color: #8BAEC1;
  font-weight: 600;
}

.card-4{
  background-color: #FFF2EC;
  grid-column: 7/13;
  color: #BEA794;
  font-weight: 600;
  
}




.macros-card-macro-name {
  font-size: 1.75rem;
}

/**********************Vertical Side Nav Bar****************************/


.vertical-nav-bar {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  align-items: left;
  padding: 20px;
}

.vertical-nav-bar-li-title {
  display: inline;
  text-align: left;
  align-items: left;
  
  color: #8338ec;
  font-weight: 600;
  /* border: 1px solid green; */
}


.nav-links-container {
  /* border: 1px solid orange; */
}


.nav-links{
  display: flex;
  flex-direction: column;
  margin:20px 0px;
  text-decoration: none;
  color: grey;
  /* border: 1px solid blue; */
}


.nav-links-and-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-nav-bar-sections {
  /* border: 2px solid red; */
  margin: 4rem 0px;
}


.home-logo {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 700;
}


/* header {
  display: flex;
  justify-content: space-between;
  font-size: 1.175rem;
  font-weight: 600;
  height: 5rem;
  align-items: center;
  margin-left: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

} */

/* header .navlinks {
  padding: 0 10px;
} */


.nav-links:hover {
  text-decoration: underline;
  color: black;
}



/**********************WeightLossTracker Component Progress****************************/



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.125em;
}

.circular-progress {
  position: relative;
  height: 15.625em; 
  width: 15.625em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 13.125em;
  width: 13.125em;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value {
  position: relative;
}